@model IEnumerable<Attendance_System.Models.Attendance>
@{
    ViewBag.Title = "StudentProfile";
}

<br />
<h2>@User.Identity.GetName() Attentance</h2>
@Html.ActionLink("My Permissions", "MyPermissions", "Permision", null, new { @class = "btn btn-success" })
@Html.ActionLink("Request Permission", "Requestpermission", "Permision", null, new { @class = "btn btn-success" })
<br />
<br />
<table id="tbl" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Date</th>
            <th>Arrival</th>
            <th>Departure</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date</td>
                @if (item.IsAbsent)
                {
                    <td>Absent</td>
                    <td>Absent</td>
                }
                else
                {
                    <td>@(item.Arrival?.TimeOfDay)</td>
                    <td>@(item.Departure?.TimeOfDay)</td>
                }

            </tr>
        }



    </tbody>
</table>


