@model List<Attendance_System.Models.Attendance>
@{
    ViewBag.Title = "Attendance";
}

<div class="container">
    @using (Html.BeginForm("SpecificDay", "Attendance", FormMethod.Post, new { style = "margin: 100px" }))
    {
        <div class="form-group">
            <label>Choose Department</label>
            <select name="dept" class="form-control">
                @{
                    foreach (var dept in ((List<Attendance_System.Models.Department>)ViewBag.Depts))
                    {
                        <option value="@dept.Id">@dept.Name</option>
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label>Choose Period</label>
            <input type="text" required id="datepicker" name="date" class="form-control">            
        </div>
        <input type="submit" class="btn btn-primary" value="Search" />
    }

    <div class="container">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Date</th>
                    <th>Arrival</th>
                    <th>Departure</th>
                    <th>IsAbsent</th>
                </tr>
            </thead>
            @{
                if (Model != null)
                {
                    <tbody>
                        @{
                            if (Model.Count == 0)
                            {
                                <tr>
                                    <td>No Results Found</td>
                                </tr>
                            }
                            else
                            {
                                foreach (var st in Model)
                                {
                                    <tr>
                                        <td>@st.ApplicationUser.Name</td>
                                        <td>@st.Date</td>
                                        <td>@st.Arrival</td>
                                        <td>@st.Departure</td>
                                        <td>@st.IsAbsent</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                }
            }
        </table>
    </div>
</div>

@section datePicker{
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
          $("#datepicker").datepicker(
          {
            dateFormat: "mm/dd/yy",
            showStatus: true,
            showWeeks: true,
            currentText: 'Now',
            autoSize: true,
            gotoCurrent: true,
            showAnim: 'blind',
            highlightWeek: true
        });
      } );
    </script>
}