@model Attendance_System.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
}
@section styles{
<link href="~/Content/themes/base/all.css" rel="stylesheet" />
<link href="~/Content/themes/base/accordion.css" rel="stylesheet" />
 <style>
     #permissionsAccordtion div {
         height:100%;
     }


    </style>

}
<ul class="nav nav-tabs" style="margin-top:25px">
    <li class="active"><a href="#profile" data-toggle="tab" aria-expanded="true">Profile</a></li>
    @if (Model.Department != null)
    {
        <li class=""><a href="#Department" data-toggle="tab" aria-expanded="false">Department</a></li>
    }
    @if (ViewBag.RoleName == "Student")
    {
        <li class=""><a href="#Permission" data-toggle="tab" aria-expanded="false">Permission</a></li>
        <li class=""><a href="#Attendance" data-toggle="tab" aria-expanded="false">Attendance</a></li>
    }

</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="profile">

        <div class="panel panel-primary mt-5">
            <div class="panel-heading">
                <h3 class="panel-title"> Name : @Model.Name</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name) :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Email) :
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Address) :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Address)
                    </dd>



                    <dt>
                        @Html.DisplayNameFor(model => model.UserName) :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber) :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.DateOfBirth) :
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DateOfBirth)
                    </dd>

                    <dt>
                        Role :
                    </dt>

                    <dd>
                        @ViewBag.RoleName
                    </dd>








                </dl>
            </div>
        </div>

    </div>
    @if (Model.Department != null)
    {
        <div class="tab-pane fade" id="Department">

            <div class="panel panel-primary mt-5">
                <div class="panel-heading">
                    <h3 class="panel-title"> Department : @Model.Department.Name</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.Department.Name) :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Department.Name)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.Department.NickName) :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Department.NickName)
                        </dd>


                        <dt>
                            
                        </dt>


                    </dl>
                </div>
            </div>

        </div>

    }


    <div class="tab-pane fade" id="Permission">

        <div class="panel panel-primary mt-5">
            <div class="panel-heading">
                <h3 class="panel-title"> Permissions</h3>
            </div>
            <div class="panel-body" style="height: 500px !important">

                <div id="permissionsAccordtion" style="height: 500px !important">

                    @foreach (var item in Model.Permissions)
                    {
                    <h3>@(item.PermissionDate?.ToShortDateString())</h3>
                    <div>
                      
                            <dl class="dl-horizontal">

                                <dt>
                                    permission Date
                                </dt>

                                <dd>
                                    @(item.PermissionDate?.ToShortDateString())
                                </dd>


                                <dt>
                                   ApproveDate :
                                </dt>

                                <dd>
                                   @if(item.ApprovementDate != null)
                                   {
                                       @item.ApprovementDate
                                   }
                                   else
                                   {
                                       <p> not approved yet </p>
                                   }

                                </dd>


                                <dt>
                                    IsApproved
                                </dt>

                                <dd>
                                    @item.IsApproved
                                </dd>

                                <dt>
                                    Cause
                                </dt>

                                <dd>
                                    @item.CauseOfAbsence
                                </dd>


                            </dl>
                       
                    </div>
                    }
                </div>

            </div>
        </div>

    </div>


    <div class="tab-pane fade" id="Attendance">

        <div class="panel panel-primary mt-5">
            <div class="panel-heading">
                <h3 class="panel-title"> Attendance</h3>
            </div>
            <div class="panel-body">

              <table class="table table-bordered">
                  <tr >
                      <th>Arrival</th>
                      <th>Departure</th>
                      <td>IsAbsent</td>
                  </tr>
                  @foreach(var item in Model.Attendances)
                  {
                      <tr>
                          <td>@(item?.Arrival)</td>
                          <td>@(item?.Departure)</td>
                          <td>@item.IsAbsent</td>
                          
                      </tr>
                  }
              </table>

            </div>
        </div>

    </div>

</div>
@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script>
        $(document).ready(function () {
            $("#permissionsAccordtion").accordion({ active: false, collapsible: true });
        });
    </script>
}